#main-header{
    background: #212226;
    color: #FFF;
    text-align: center;
    height: 400px;
}
#main-header h1{
   padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
}

#main-header p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

#main-header .icons{
    padding: 15px;
}

#main-header i{
    font-size: 24px;
    border: 0.05px #FFF solid;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}

#main-header i:hover{
    cursor: pointer;
}


#card{
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: lightgray;
    top: 300px;
    left: 150px
}

#card .image{
    margin-left: 300px;
    margin-top: 50px;
}

#card i{
    font-size: 42px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding:50px;
    margin-left: 20px;
}
#user-name:hover{
    color: #5c9320;
    cursor: pointer;
}

#birthday:hover{
   color: #5c9320; 
    cursor: pointer;
}

#phone-no:hover{
   color: #5c9320; 
    cursor: pointer;
}
#email:hover{
   color: #5c9320; 
    cursor: pointer;
}
#password:hover{
   color: #5c9320; 
    cursor: pointer;
}

#location:hover{
   color: #5c9320; 
    cursor: pointer;
}

#change{
    margin-left: 300px;
    margin-top: 50px;
    font-size: 24px;
    color: gray;
    
}

#main{
        margin-left: 200px;
    margin-top: 50px;
    font-size: 30px;

}